@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  font-size: 14px;
  color: #1d1c1d;
}
button {
  cursor: pointer;
}

@theme {
  --color-mikado-yellow: #febe04;
  --color-tertiary-1: #e2a109;
  --color-resin-black: #1d1c1d;
  --color-brown-700: #645d5d;
  --color-deep-green: #00110a;
  --color-success: #027a48;
  --color-success-50: #ecfdf3;
  --color-gray: #dcdcdc;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #5d6679;
  --color-gray-900: #101828;
  --color-gray-4: #f0f2f5;
  --color-gray-3: #797979;
  --color-gray-2: #98a2b3;
  --color-border-gray: #dcdcdc;
  --color-secondary-4: #fff8e2;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 3px 15px 0px #00000003;
  }
}

.no-x > button.absolute.right-4.top-4 {
  display: none;
}
.content-container {
  padding-inline: 50px;
  max-width: 1148px;
}

.repaymentlist {
  list-style-type: disc;
  list-style: disc;
}
