@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  font-size: 14px;
  color: #1d1c1d;
}
button {
  cursor: pointer;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 3px 15px 0px #00000003;
  }
}

.no-x > button.absolute.right-4.top-4 {
  display: none;
}
.content-container {
  padding-inline: 50px;
  max-width: 1148px;
}

.repaymentlist {
  list-style-type: disc;
  list-style: disc;
}
